@inject PrivateBlog.Web.Services.Abtractions.IUsersService _usersService

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showSections" , "Secciones"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Sections" asp-action="Index">
                    <i class="bi bi-book"></i> <span>Secciones</span>
                </a>
            </li>
        }

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showBlogs", "Blogs"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Blogs" asp-action="Index">
                    <i class="bi bi-file-earmark-post"></i> <span>Blogs</span>
                </a>
            </li>
        }

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showUsers", "Usuarios"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Users" asp-action="Index">
                    <i class="bi bi-person"></i> <span>Usuarios</span>
                </a>
            </li>
        }

        @if (await _usersService.CurrentUserIsAuthorizedAsync("showRoles", "Roles"))
        {
            <li class="nav-item">
                <a class="nav-link collapsed" asp-controller="Roles" asp-action="Index">
                    <i class="bi bi-lock"></i> <span>Roles</span>
                </a>
            </li>
        }


    </ul>

</aside>