<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home"
                                                && ViewContext.RouteData.Values["Action"].ToString() == "Dashboard"
                                                ? "" : "collapsed")"
               asp-controller="Home"
               asp-action="Dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link  @(ViewContext.RouteData.Values["Controller"].ToString() == "Sections"
                                                && ViewContext.RouteData.Values["Action"].ToString() == "Index"
                                                ? "" : "collapsed")"
               asp-controller="Sections"
               asp-action="Index">
                <i class="bi bi-puzzle-fill"></i>
                <span>Secciones</span>
            </a>
        </li>

    </ul>

</aside>