@model PrivateBlog.Web.Data.Entities.Blog

@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-action="Section" asp-route-id="@Model.SectionId">Section</a></li>
            <li class="breadcrumb-item active">Blog</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">

    <div class="card">
        <div class="card-header">@Model.Title</div>
            <div class="card-body">
                @Html.Raw(@Model.Description)
            </div>
    </div>

</section>